icon-no {
	background-position:-0px -0px;
}
icon-appshop {
	background-position:-16px -0px;
}
icon-back {
	background-position:-32px -0px;
}
icon-config {
	background-position:-48px -0px;
}
icon-copy {
	background-position:-64px -0px;
}
icon-create {
	background-position:-80px -0px;
}
icon-cut {
	background-position:-96px -0px;
}
icon-delfriend {
	background-position:-112px -0px;
}
icon-desktop {
	background-position:-128px -0px;
}
icon-direction {
	background-position:-144px -0px;
}
icon-door {
	background-position:-160px -0px;
}
icon-download {
	background-position:-176px -0px;
}
icon-dzzdoc {
	background-position:-192px -0px;
}
icon-edit {
	background-position:-208px -0px;
}
icon-edit_add {
	background-position:-224px -0px;
}
icon-edit_remove {
	background-position:-240px -0px;
}
icon-editnote {
	background-position:-256px -0px;
}
icon-empty {
	background-position:-272px -0px;
}
icon-filemanage {
	background-position:-288px -0px;
}
icon-filesave {
	background-position:-304px -0px;
}
icon-groupedit {
	background-position:-320px -0px;
}
icon-guanbi {
	background-position:-336px -0px;
}
icon-help {
	background-position:-352px -0px;
}
icon-home {
	background-position:-368px -0px;
}
icon-huanyuan {
	background-position:-384px -0px;
}
icon-iconview {
	background-position:-400px -0px;
}
icon-indesktop {
	background-position:-416px -0px;
}
icon-movegroup {
	background-position:-432px -0px;
}
icon-newdoc {
	background-position:-448px -0px;
}
icon-newfolder {
	background-position:-464px -0px;
}
icon-newlink {
	background-position:-480px -0px;
}
icon-autolist {
	background-position:-496px -0px;
}
icon-notselect {
	background-position:-512px -0px;
}
icon-ok {
	background-position:-528px -0px;
}
icon-open {
	background-position:-544px -0px;
}
icon-paste {
	background-position:-560px -0px;
}
icon-pencil {
	background-position:-576px -0px;
}
icon-realdel {
	background-position:-0px -16px;
}
icon-pin {
	background-position:-16px -16px;
}
icon-rename {
	background-position:-32px -16px;
}
icon-position {
	background-position:-48px -16px;
}
icon-print {
	background-position:-64px -16px;
}
icon-recycle {
	background-position:-80px -16px;
}
icon-redo {
	background-position:-96px -16px;
}
icon-reload {
	background-position:-112px -16px;
}
icon-restore {
	background-position:-128px -16px;
}
icon-search {
	background-position:-144px -16px;
}
icon-select {
	background-position:-160px -16px;
}
icon-sendmsg {
	background-position:-176px -16px;
}
icon-setwidget {
	background-position:-192px -16px;
}
icon-share {
	background-position:-208px -16px;
}
icon-userdetail {
	background-position:-224px -16px;
}
icon-sort {
	background-position:-240px -16px;
}
icon-txt {
	background-position:-256px -16px;
}
icon-upload {
	background-position:-272px -16px;
}
icon-viewdesktop {
	background-position:-288px -16px;
}
icon-Wallpaper {
	background-position:-304px -16px;
}
icon-widget {
	background-position:-320px -16px;
}
icon-world {
	background-position:-336px -16px;
}
icon-zhuti {
	background-position:-352px -16px;
}
icon-zuida {
	background-position:-368px -16px;
}
icon-zuixiao {
	background-position:-384px -16px;
}
